* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-grey-950: #08070b;
  --color-grey-900: #14131b;
  --color-grey-850: #18171f;
  --color-grey-800: #24232c;
  --color-grey-700: #54535b;
  --color-grey-600: #817d92;
  --color-grey-200: #e6e5ea;
  --color-green-200: #a4ffaf;
  --color-yellow-300: #f8cd65;
  --color-orange-400: #fb7c58;
  --color-red-500: #f64a4a;
  --color-white: #fff;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/static/JetBrainsMono-Bold.ttf") format("truetype"),
    url("./assets/fonts/static/JetBrainsMono-BoldItalic.ttf") format("truetype"),
    url("./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
      format("truetype"),
    url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "JetBrains Mono";
  font-style: normal;
  font-size: 16px;

  background-color: var(--color-grey-950);
  color: var(--color-white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 343px;
  height: 503px;
}

.title {
  color: var(--color-grey-600);
  text-align: center;
}

.main-input {
  position: relative;
  background-color: var(--color-grey-800);
  width: 100%;
  height: 64px;

  input {
    border: none;
    background-color: transparent;
    color: var(--color-grey-700);
    padding: 1rem;
  }

  .copy-icon {
    top: 16px;
    right: 16px;
    position: absolute;
  }
}

.character-pick-container {
  background-color: var(--color-grey-800);
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.char-length-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    color: var(--color-grey-200);
  }

  p {
    color: var(--color-green-200);
  }
}

.choice-inputs-container {
  position: relative;
  margin-top: 2rem;
  width: 100%;

  label {
    padding-left: 8px;
  }

  /* ...existing code... */
  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-grey-200);
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 150ms ease, border-color 150ms ease,
      box-shadow 150ms ease;
    position: relative;
  }

  input[type="checkbox"]:checked {
    background-color: var(--color-green-200);
    border-color: var(--color-green-200);
    background-image: url("./assets/images/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
  }

  input[type="checkbox"]:hover {
    border: 2px solid var(--color-green-200);
  }
}

.text-preset-1 {
  font-size: 2rem;
  line-height: 1.3125em;
  font-weight: normal;
}
.text-preset-2 {
  font-size: 1.5rem;
  line-height: 1.33em;
  font-weight: bold;
}
.text-preset-3 {
  font-size: 1.125rem;
  line-height: 1.333em;
}

.text-preset-4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25em;
}

.spacing-200 {
  margin-bottom: 16px;
}

/* RANGE INPUT STYLE */
input[type="range"] {
  width: 100%;
  margin: 10px 0;
  background-color: transparent;
  appearance: none;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #18171f;
  border: 0;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -10px;
  width: 28px;
  height: 28px;
  background: #e6e5ea;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1d1b25;
}
input[type="range"]::-moz-range-track {
  background: #18171f;
  border: 0;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: #e6e5ea;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 28px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 11px 0;
  color: transparent;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #131319;
  border: 0;
}
input[type="range"]::-ms-fill-upper {
  background: #18171f;
  border: 0;
}
input[type="range"]::-ms-thumb {
  width: 28px;
  height: 28px;
  background: #e6e5ea;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  margin-top: 0px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #18171f;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #1d1b25;
}

@supports (-ms-ime-align: auto) {
  input[type="range"] {
    margin: 0;
  }
}
