* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-grey-950: #08070b;
  --color-grey-900: #14131b;
  --color-grey-850: #18171f;
  --color-grey-800: #24232c;
  --color-grey-700: #54535b;
  --color-grey-600: #817d92;
  --color-grey-200: #e6e5ea;
  --color-green-200: #a4ffaf;
  --color-yellow-300: #f8cd65;
  --color-orange-400: #fb7c58;
  --color-red-500: #f64a4a;
  --color-white: #fff;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("./assets/fonts/static/JetBrainsMono-Bold.ttf") format("truetype"),
    url("./assets/fonts/static/JetBrainsMono-BoldItalic.ttf") format("truetype"),
    url("./assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf")
      format("truetype"),
    url("./assets/fonts/JetBrainsMono-VariableFont_wght.ttf") format("truetype");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-size: 16px;

  background-color: var(--color-grey-950);
  color: var(--color-white);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 343px;
  height: 503px;
}

.title {
  color: var(--color-grey-600);
  text-align: center;
}

.main-input {
  position: relative;
  background-color: var(--color-grey-800);
  width: 100%;
  height: 64px;

  input {
    border: none;
    background-color: transparent;
    color: var(--color-white);
    padding: 1rem;
  }

  input::placeholder {
    color: var(--color-grey-700);
  }
  input:focus {
    outline: none;
  }

  .copy-icon {
    top: 16px;
    right: 16px;
    position: absolute;
    cursor: pointer;
    fill: var(--color-green-200);

    &:hover {
      fill: var(--color-white);
    }
  }

  .copied {
    position: absolute;
    top: 1.3rem;
    right: 3rem;
    text-transform: uppercase;
    color: var(--color-green-200);
  }
}

.character-pick-container {
  background-color: var(--color-grey-800);
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.char-length-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h2 {
    color: var(--color-grey-200);
  }

  p {
    color: var(--color-green-200);
  }
}

.choice-inputs-container {
  position: relative;
  margin-top: 2rem;
  width: 100%;

  label {
    padding-left: 8px;
  }

  /* ...existing code... */
  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-grey-200);
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color 150ms ease, border-color 150ms ease,
      box-shadow 150ms ease;
    position: relative;
  }

  input[type="checkbox"]:checked {
    background-color: var(--color-green-200);
    border-color: var(--color-green-200);
    background-image: url("./assets/images/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
  }

  input[type="checkbox"]:hover {
    border: 2px solid var(--color-green-200);
  }
}

.strength-container {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey-850);
  padding: 1rem;

  h3 {
    color: var(--color-grey-600);
    text-transform: uppercase;
  }
}

.btn-container {
  position: relative;
  width: 100%;

  button {
    width: 100%;
    height: 56px;
    background-color: var(--color-green-200);
    border: none;
    outline: none;
    text-transform: uppercase;
    color: var(--color-grey-800);
    cursor: pointer;

    &:hover {
      background-color: #24232c;
      color: var(--color-green-200);
      border: 2px solid var(--color-green-200);
    }
  }

  .arrow {
    fill: #24232c;
    transition: color 0.2s ease;
  }

  button:hover .arrow {
    fill: var(--color-green-200);
  }

  svg {
    position: absolute;
    top: 1.35em;
    right: 5.4em;
    cursor: pointer;
  }
}
.text-preset-1 {
  font-size: 2rem;
  line-height: 1.3125em;
  font-weight: normal;
}
.text-preset-2 {
  font-size: 1.5rem;
  line-height: 1.33em;
  font-weight: bold;
}
.text-preset-3 {
  font-size: 1.125rem;
  line-height: 1.333em;
}

.text-preset-4 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25em;
}

.spacing-200 {
  margin-bottom: 1rem;
}

.spacing-300 {
  margin-bottom: 2rem;
}

.hide-element {
  display: none;
}
/* RANGE INPUT STYLE */
input[type="range"] {
  width: 100%;
  margin: 10px 0;
  background-color: transparent;
  appearance: none;
}
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #18171f;
  border: 0;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -10px;
  width: 28px;
  height: 28px;
  background: #e6e5ea;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #1d1b25;
}
input[type="range"]::-moz-range-track {
  background: #18171f;
  border: 0;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 28px;
  height: 28px;
  background: #e6e5ea;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 28px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 11px 0;
  color: transparent;
  width: 100%;
  height: 8px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #131319;
  border: 0;
}
input[type="range"]::-ms-fill-upper {
  background: #18171f;
  border: 0;
}
input[type="range"]::-ms-thumb {
  width: 28px;
  height: 28px;
  background: #e6e5ea;
  border: 0px solid rgba(0, 0, 0, 0);
  border: 0;
  border-radius: 28px;
  cursor: pointer;
  margin-top: 0px;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #18171f;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #1d1b25;
}

@supports (-ms-ime-align: auto) {
  input[type="range"] {
    margin: 0;
  }
}

input[type="range"]:hover::-webkit-slider-thumb {
  background: #18171f;
  border: 2px solid #a4ffaf;
}

input[type="range"]:hover::-moz-range-thumb {
  background: #18171f;
  border: 2px solid #a4ffaf;
}

input[type="range"] {
  --fill: 0%;
}

/* WebKit (Chrome, Edge, Safari) */
input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(
    to right,
    #a4ffaf 0%,
    #a4ffaf var(--fill),
    #18171f var(--fill),
    #18171f 100%
  );
}

/* Firefox */
input[type="range"]::-moz-range-track {
  background: linear-gradient(
    to right,
    #a4ffaf 0%,
    #a4ffaf var(--fill),
    #18171f var(--fill),
    #18171f 100%
  );
}
